{{define "main"}}
    <div style="margin: 35%;"></div>

    <div class="homepage">
        {{.Content}}
    </div>

    <div style="margin: 20px;"></div>

    <a href="mailto:ffierro@ethz.ch" style="display: inline-flex; align-items: center; text-decoration: none;">
        <i class="fas fa-envelope" style="margin-right: 8px;"></i> ffierro@ethz.ch
    </a>

    <a href="https://www.instagram.com/francofierro_/" style="display: inline-flex; align-items: center; text-decoration: none;">
        <i class="fab fa-instagram" style="margin-right: 6px; margin-left: 16px"></i> @francofierro_
    </a>
{{end}}