{{define "main"}}
    <div class="home-container">
        <p class="home-title">
            CS Student at <a href="https://ethz.ch/" target="_blank">ETH</a>
        </p>

        <div class="home-links">
            <a href="mailto:ffierro@ethz.ch">
                <i class="fas fa-envelope"></i> ffierro@ethz.ch
            </a>
            <a href="https://github.com/francofierro" target="_blank">
                <i class="fab fa-github"></i> @francofierro
            </a>
            <a href="https://www.linkedin.com/in/franco-neud%C3%B6rfer-305783404/" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a href="https://www.goodreads.com/user/show/184309930-franco-fierro" target="_blank">
                <i class="fab fa-goodreads"></i> @francofierro
            </a>
        </div>
    </div>
{{end}}
